<widget-overlay [animation]="initialAnimation" [duration]="initialAnimationDuration" [delay]="initialAnimationDelay"></widget-overlay>

<widget-smoke></widget-smoke>

<widget-addictions></widget-addictions>

<widget-mind-body></widget-mind-body>

<widget-addiction></widget-addiction>

<widget-overlay [animation]="endingAnimation" [duration]="endingAnimationDuration" [delay]="endingAnimationDelay" [background]="'black'" [zIndex]="200"></widget-overlay>

<widget-addiction-cycle></widget-addiction-cycle>

<widget-overlay [animation]="endingAnimation" [duration]="endingAnimationDuration" [delay]="50" [background]="'white'" [zIndex]="300"></widget-overlay>

<widget-say-no></widget-say-no>
