.addiction-cycle {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 250;
}
.addiction-cycle .title {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: 'Shadows Into Light';
  font-size: 15vh;
  color: #fff;
  text-align: center;
  line-height: 12vh;
  filter: blur(200px) opacity(0);

  animation: addiction-cycle-title 2s 40s ease-in-out 1 forwards;
}
@keyframes addiction-cycle-title {
  from {
    filter: blur(200px) opacity(0);
  }
  to {
    filter: blur(0px) opacity(1);
  }
}

.addiction-cycle-svg {
  position: absolute;
  left: calc(50vw - 50vh);
  top: 0;
  width: 100vh;
  height: 100vh;

  opacity: 0;
  transform-origin: center;
  transform: rotate(180deg);

  animation: addiction-cycle-svg 2s 42s ease-in-out 1 forwards;
}
@keyframes addiction-cycle-svg {
  from {
    opacity: 0;
    transform: rotate(180deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

.addiction-cycle-svg text {
  fill-opacity:1;
  font-size: 8px;
  font-family: 'Shadows Into Light';
  dominant-baseline: hanging;
  text-anchor: start;
  opacity: 0;

  animation: svg-text-appear 1s 45s ease-in-out 1 forwards;
}
@keyframes svg-text-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
