
.icon-person:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-glass:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */
.icon-emo-devil:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-emo-tongue:before { content: '\e807'; } /* '' */
.icon-emo-coffee:before { content: '\e808'; } /* '' */
.icon-emo-sleep:before { content: '\e809'; } /* '' */
.icon-emo-displeased:before { content: '\e80a'; } /* '' */
.icon-emo-beer:before { content: '\e80b'; } /* '' */
.icon-emo-grin:before { content: '\e80c'; } /* '' */
.icon-emo-angry:before { content: '\e80d'; } /* '' */
.icon-emo-saint:before { content: '\e80e'; } /* '' */
.icon-emo-cry:before { content: '\e80f'; } /* '' */
.icon-emo-shoot:before { content: '\e810'; } /* '' */
.icon-emo-squint:before { content: '\e811'; } /* '' */
.icon-emo-laugh:before { content: '\e812'; } /* '' */
.icon-gem-solid:before { content: '\e812'; } /* '' */
.icon-emo-unhappy:before { content: '\e813'; } /* '' */
.icon-emo-wink2:before { content: '\e814'; } /* '' */
.icon-emo-wink:before { content: '\e815'; } /* '' */
.icon-emo-happy:before { content: '\e816'; } /* '' */
.icon-monitor:before { content: '\e817'; } /* '' */
.icon-desktop-1:before { content: '\e818'; } /* '' */
.icon-desktop-2:before { content: '\e819'; } /* '' */
.icon-video:before { content: '\e81a'; } /* '' */
.icon-mug-hot-solid:before { content: '\e81b'; } /* '' */
.icon-pizza-slice-solid:before { content: '\e81c'; } /* '' */
.icon-smoking-solid:before { content: '\e81d'; } /* '' */
.icon-syringe-solid:before { content: '\e81e'; } /* '' */
.icon-thumbs-up-solid:before { content: '\e81f'; } /* '' */
.icon-tiktok:before { content: '\e820'; } /* '' */
.icon-whiskey-glass-solid:before { content: '\e821'; } /* '' */
.icon-wine-bottle-solid:before { content: '\e822'; } /* '' */
.icon-burger-solid:before { content: '\e823'; } /* '' */
.icon-cake-candles-solid:before { content: '\e824'; } /* '' */
.icon-cannabis-solid:before { content: '\e825'; } /* '' */
.icon-dice-solid:before { content: '\e826'; } /* '' */
.icon-heart-solid:before { content: '\e827'; } /* '' */
.icon-ice-cream-solid:before { content: '\e828'; } /* '' */
.icon-instagram-3:before { content: '\e829'; } /* '' */
.icon-joint-solid:before { content: '\e82a'; } /* '' */
.icon-money-bill-solid:before { content: '\e82b'; } /* '' */
.icon-gamepad-solid:before { content: '\e82c'; } /* '' */
.icon-ring-solid:before { content: '\e82d'; } /* '' */
.icon-bread-slice-solid:before { content: '\e82e'; } /* '' */
.icon-brain-solid:before { content: '\e82f'; } /* '' */
.icon-movie:before { content: '\f040'; } /* '' */
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter:before { content: '\f058'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-twitter-2:before { content: '\f099'; } /* '' */
.icon-gplus-1:before { content: '\f0d5'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-beer:before { content: '\f0fc'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-mobile:before { content: '\f10b'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-thumbs-up-alt:before { content: '\f164'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram-2:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-windows:before { content: '\f17a'; } /* '' */
.icon-android:before { content: '\f17b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-digg:before { content: '\f1a6'; } /* '' */
.icon-behance:before { content: '\f1b4'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-wechat:before { content: '\f1d7'; } /* '' */
.icon-dashcube:before { content: '\f210'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-television:before { content: '\f26c'; } /* '' */
.icon-amazon:before { content: '\f270'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-snapchat-ghost:before { content: '\f2ac'; } /* '' */
.icon-telegram:before { content: '\f2c6'; } /* '' */
.icon-facebook-squared-1:before { content: '\f308'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-linkedin-1:before { content: '\f318'; } /* '' */
.icon-instagram-1:before { content: '\f32d'; } /* '' */
.icon-sina-weibo:before { content: '\f33f'; } /* '' */
.icon-joystick:before { content: '\f514'; } /* '' */
