<div class="mind-body-container">
  <div class="mind">
    <i class="icon-brain-solid"></i>
    <i class="icon-brain-solid"></i>
    <i class="icon-brain-solid"></i>
    <i class="icon-brain-solid placeholder"></i>
  </div>
  <div class="body-group">
    <div class="body">
      <i class="icon-person"></i>
      <i class="icon-person"></i>
      <i class="icon-person"></i>
      <i class="icon-person placeholder"></i>
    </div>
    <div class="group">
      <i class="icon-group"></i>
      <i class="icon-group"></i>
      <i class="icon-group"></i>
      <i class="icon-group placeholder"></i>
    </div>
  </div>
</div>
